/*common*/
//$colorCommon: #58D68D;
$colorCommon: rgb(2, 136, 209);
//$colorCommon: #3190e8;
//$colorCommon: #d9d9d9;
//$slsjColor: rgb(2,n 136, 209);
$applyColor: #58D68D;
//$bgColor:rgb(242,244,246);

$css-blue: rgb(2, 136, 209);
$wg: #efefef;
$bc: #d9d9d9;
//$gc: #dfdfdf;
$fc: #fff;
$css-grey: #aaa;
$css-black: #000;
$css-orange: #F5B041;
$blue: #3190e8;
$bg: #ebedef;

$borderW:0.5wx;
$radius: 4wx;
$bRadius:100wx;
/*图片、输入框等的宽度或高度*/
$hh:48wx;
$bh:36wx;
$lh:24wx;
/*font-size*/
$hs:20wx;//特大，用于标题、logo
$bs:16wx;
$cs:14wx;
$ss:12wx;
/*间距，因为不同设备间距不需要保持一致，所以使用 px */
$sl:8;
$cl:16;
$bl:32;

$mlw:2wx;
$slw:4wx;
$clw:8wx;
$blw:16wx;


@mixin slsjBtnCommon {
  background-color: $colorCommon;
}

@mixin fontCommon($fontSize:$cs,$fontColor:#000) {
  font-size: $fontSize;
  color: $fontColor;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@mixin fontTip {
  font-size: $ss;
  color: #aaa;
  lines: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@mixin fontLines($line:1) {
  lines: $line;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@mixin divRow {
  flex-direction: row;
  align-items: center;
}

@mixin marginRow($length:$cl) {
  margin-left: $length;
  margin-right: $length;
}

@mixin marginColumn($length:$cl) {
  margin-top: $length;
  margin-bottom: $length;
}

@mixin paddingRow($length:$cl) {
  padding-left: $length;
  padding-right: $length;
}

@mixin paddingColumn($length:$cl) {
  padding-top: $length;
  padding-bottom: $length;
}
//圆角btn:文字大小，文字颜色，背景颜色（白），边框宽度（边框颜色不可设置，为主题色）
@mixin cornerBtn($fontSize:$cs,$fontColor:#000,$bgColor:#fff,$borderWidth:$borderW) {
  font-size: $fontSize;
  color: $fontColor;
  border-radius: 50wx;
  align-items: center;
  justify-content: center;
  border-width: $borderWidth;
  text-align: center;
  border-color: $colorCommon;
  background-color: $bgColor;
  @include paddingColumn($sl);
  @include paddingRow($cl);
}
//卡片
@mixin card($bg:$fc,$borderColor:$bc,$borderRadius:$radius){
  background-color:$bg;
  padding: $cl;
  @include borderCommon($borderW, $borderColor,$borderRadius);
}
@mixin searchBox($bC:$fc,$bh:$bh,$r:$radius,$borderW:0){
  height: $bh;
  background-color: $bC;
  align-items: center;
  justify-content: center;
  @include borderRadius($r);
}
//边框的一条边：方向，颜色，宽度
@mixin sideBorder($side:bottom,$sideColor:#000,$wid:$borderW) {
  border-#{$side}-width:$wid;
  border-#{$side}-color:$sideColor;
}

// 背景图片地址和大小
@mixin bis($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin borderRadius($radius:$radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
//边框：宽度，颜色，圆角
@mixin borderCommon($w:$borderW,$c:$bc,$r:$radius) {
  border-width: $w;
  border-color: $c;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
//所包含内容上下左右居中
@mixin inCenter{
  align-items: center;
  justify-content:center;
}
//定位全屏
@mixin allcover {
  position: absolute;
  top: 0;
  right: 0;
}

//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//定位左右居中
@mixin cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//宽高
@mixin wh($width:$lh, $height:$lh) {
  width: $width;
  height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
  font: #{$size}/#{$line-height} $family;
}

//字体大小，颜色
@mixin sc($size, $color) {
  font-size: $size;
  color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
  display: flex;
  justify-content: $type;

}

@function dp($size:1) {
  @return $size* 750 / ( $deviceWidth / $scale )*1wx;
}

$deviceWidth:640;
$scale:2;