/*common*/
$colorCommon: #58D68D;
//$colorCommon: #3190e8;
//$colorCommon: rgb(2, 136, 209);
//$colorCommon: #d9d9d9;
//$slsjColor: rgb(2,n 136, 209);
$applyColor: #58D68D;
$bgColor: #fff;
//$bgColor:rgb(242,244,246);

$css-blue: rgb(2, 136, 209);
$wg: #efefef;
$bc: #d9d9d9;
$fc: #fff;
$css-grey: #aaa;
$css-black: #000;
$css-orange: #F5B041;
$blue: #3190e8;
$bg: #e4e4e4;

$radius: 8px;
$bs:32px;
$cs:28px;
$ss:24px;

@mixin slsjBtnCommon {
  background-color: $colorCommon;
}

@mixin fontCommon($fontSize:$cs,$fontColor:#000) {
  font-size: $fontSize;
  color: $fontColor;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@mixin fontTip {
  font-size: $ss;
  color: #aaa;
  lines: 1;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@mixin fontLines($line:1) {
  lines: $line;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@mixin divRow {
  flex-direction: row;
  align-items: center;
}

@mixin marginRow($length:20px) {
  margin-left: $length;
  margin-right: $length;
}

@mixin marginColumn($length:20px) {
  margin-top: $length;
  margin-bottom: $length;
}

@mixin paddingRow($length:20px) {
  padding-left: $length;
  padding-right: $length;
}

@mixin paddingColumn($length:20px) {
  padding-top: $length;
  padding-bottom: $length;
}

@mixin cornerBtn($fontSize:$cs,$fontColor:#000,$bgColor:#fff,$borderWidth:1px) {
  font-size: $fontSize;
  color: $fontColor;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  border-width: $borderWidth;
  text-align: center;
  border-color: $colorCommon;
  background-color: $bgColor;
  @include paddingColumn(8px);
  @include paddingRow(16px);
}

@mixin bg {
  background-color: violet;
}

// 背景图片地址和大小
@mixin bis($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin borderRadius($radius:8px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin borderCommon($w:2px,$r:8px,$c:#dfdfdf) {
  border-width: $w;
  border-color: $c;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

//定位全屏
@mixin allcover {
  position: absolute;
  top: 0;
  right: 0;
}

//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//定位左右居中
@mixin cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
  font: #{$size}/#{$line-height} $family;
}

//字体大小，颜色
@mixin sc($size, $color) {
  font-size: $size;
  color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
  display: flex;
  justify-content: $type;

}

@function dp($size) {
  @return $size* 750 / ( $deviceWidth / $scale )*1px;
}

$deviceWidth:640;
$scale:2;